<mat-toolbar color="primary">
    <div class="toolbar-title">Angular Template</div>

    <button class="toolbar-year" mat-button [matMenuTriggerFor]="menu">
        2018 <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Option A</button>
      <button mat-menu-item>Option B</button>
    </mat-menu>

    <div class="toolbar-spacer"></div>
    <div #themer class="toolbar-themer toolbar-themer--light">
        <button mat-fab [matMenuTriggerFor]="themes"></button>
        <mat-menu #themes="matMenu" direction="down">
            <button mat-fab class="toolbar-themer--menu-light" (click)="setTheme(0)"></button>
            <button mat-fab class="toolbar-themer--menu-dark" (click)="setTheme(1)"></button>
        </mat-menu>
    </div>
    <div class="toolbar-logo"></div>
</mat-toolbar>
