.toolbar-title {
    font-size: 14px;
    font-weight: 500;
}
.toolbar-year {
    margin: 0 0 0 15px;
}
.toolbar-spacer {
    flex: 1 1 auto;
}
.toolbar-logo {
    background: url('/assets/kapios/bug_reverse.png') no-repeat center;
    background-size: 40px 40px;
    height: 100%;
    width: 50px;
}
.toolbar-year {
    width: 75px;
}


.side-user {
    background: #f4f4f4;
}

.side-user mat-list-item,
.side-menu mat-list-item {
    font-size: 0.85em;
    height: 40px;
}
.side-menu mat-list-item {
    border-radius: 1px;
    cursor: pointer;
    transition: background 0.25s ease;
}
.side-menu mat-list-item:hover {
    background: #e4e4e4;
}

.side-user mat-icon,
.side-menu mat-icon {
    font-size: 1.5em;
}

.footer {
    background: #d4d4d4;
    font-size: 0.85em;
    line-height: 40px;
    text-align: center;
}
