@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

$theme-blue: (
    50: #abe8ff,
    100: #78b6d9,
    200: #4586a7,
    300: #4586a7,
    400: #4586a7,
    500: #005978,
    600: #00304c,
    700: #00304c,
    800: #00304c,
    900: #00304c,
    A100: #00304c,
    A200: #00304c,
    A400: #00304c,
    A700: #00304c,
    contrast: (
        50: white,
        100: white,
        200: white,
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: white,
        A200: white,
        A400: white,
        A700: white,
    )
);

// Define the default theme (same as the example above).
$theme-light-primary: mat-palette($theme-blue, 500, 300, 700);
$theme-light-accent:  mat-palette($mat-pink, A200, A100, A400);
$theme-light-warn:    mat-palette($mat-red);
$theme-light-theme:   mat-light-theme($theme-light-primary, $theme-light-accent, $theme-light-warn);

// Include the default theme styles.
.theme-light {
    @include angular-material-theme($theme-light-theme);
}


// Define an alternate dark theme.
$theme-dark-primary: mat-palette($theme-blue, 100, 50, 300);
$theme-dark-accent:  mat-palette($mat-pink, A200, A100, A400);
$theme-dark-warn:    mat-palette($mat-red);
$theme-dark-theme:   mat-dark-theme($theme-dark-primary, $theme-dark-accent, $theme-dark-warn);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.theme-dark {
  @include angular-material-theme($theme-dark-theme);
}
